<!DOCTYPE html>
<html>
    <head>
        <title>Create User</title>
    </head>
    <body>
        <h1>Create User Account</h1>

        <form method="POST">
            <label>Username:</label>
            <input type="text" name="username" >

            <br><br>

            <label>Password:</label>
            <input type="text" name="password">

            <br><br>

            <label>Role:</label>
            <select name="role">
                <option value="User Admin">User Admin</option>
                <option value="Fund Raiser">Fund Raiser</option>
                <option value="Donee">Donee</option>
                <option value="Platform Manager">Platform Manager</option>
            </select>
            
            <br><br>

            <button type="submit">Create User</button>
        </form>

        <br>

        <a href="/dashboard">
            <button>Back to Dashboard</button>
        </a>
    </body>
    <script>    
     
    </script>
</html>